
/* 
.boxmodel {
    border: 5px red solid;
    display: inline-block;
    padding: 5px 20px 5px 20px;
} */

h2 {
    color: Blue;
}

html {
    font-size: 20px;
}

p {
    font-size: 20px;
}

span {
    font-size: 2rem;
    text-transform: capitalize;
}

